body{ border:#000 2px solid;margin:0;padding:0px;background:url(../img/5.jpg) 2000px 1900px;}
div{border:#FFD7FB 1px solid;}
#mainDiv{border:#ff00000 solid 2px; margin:0 auto; text-align:center; width:1000px; padding:0px;background:#F8F09B; }
#menu div,#menu{ display: inline-block;;border:0px;margin:0 auto;font:40px solid Arial;}
#menu{ background:#DCD7FF;width:100%;}
#hot{ clear:both; margin:0px; }

#event{ float:left;}
#box{display:block;position:relative;width:500px;height:270px;border-radius:5px;border:1px solid #FFB0F6;cursor:pointer;}
#box .list-pic{position:relative;width:500px;height:270px;overflow:hidden;}
#box .list-pic ul{position:absolute;top:-22px;;left:-42px;}
#box .list-pic li{width:500px;height:270px;}
#box .count{position:absolute;right:0;bottom:5px;}
#box .count li{color:#fff;float:left;width:20px;height:20px;cursor:pointer;margin-right:5px;overflow:hidden;background:#F90;opacity:0.7;filter:alpha(opacity=70);border-radius:20px;}
#box .count li.current{color:#fff;opacity:1;filter:alpha(opacity=100);background:#f60;}
#tmp{width:100px;height:100px;background:red;position:absolute;}
.redian{ float:right;clear:right; margin: 20px 10px 0 10px;width:400px;height:40px;border-radius:30px;background:#F5D78F;vertival-align:midden;padding-top:6px;}
label{ margin-top:3px;padding-top:3px;}
#video{ clear:both; padding-top:20px;text-align: left;margin:20px;border:0px;}
#video1{ text-align:left;border:0px;}
.know{ float:left;width:100%;border:0px;}
.info{ text-align:right;width:100px;}
table{ float:left;}
.pic{ float:right; border:0px;}
.pic-img{ width:140px;height:140px;margin-right:150px;}
field{ border:#FFB0F6 1px solid;}
#field{ float:none;}
ul{ list-style:none;}
field,label,p{ margin:0;padding:0;}
#lastGet{ clear:both;}